body{
    background-color: 	#FFFAFA;

}
#content{
    align-items: center;
}

#importar{
    background-color: #0D6EFD;
    color: white;
    /* border-radius: 10%; */
    border-style: none;
    width: 7%;
}