.container_GridImportacao{
  display: flex;
  padding-left:200px ;
  padding-right:200px ;
 
 
  flex-direction: column;
 text-align: center;
}
.container_GridImportacao h2{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
} 